
<div class="container">
    <div class="row my-4">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <app-card title="Personal Information" class="shadow">
                <hr>
                <div class="container fs-6">
                    <div class="row">
                        <div class="col-4"><i class="fas fa-user large-icon"></i>
                        </div>
                        <div class="col-4 fw-medium">
                             <p>First Name</p>
                             <p>Last Name</p>
                             <p>Address</p>
                             <p>Telephone Number</p>
                             <p>Email</p>
                             <p>Username</p>
                        </div>
                        <div class="col-4">
                            <p>{{ userInfo?.firstName }}</p>
                            <p>{{ userInfo?.lastName }}</p>
                            <p>{{ userInfo?.address }}</p>
                            <p>{{ userInfo?.pnum }}</p>
                            <p>{{ userInfo?.email }}</p>
                            <p>{{ userInfo?.username }}</p>
                            
                        </div>
                        
                    </div>
                    
                   
                    
                </div>
            </app-card>
        </div>
        <div class="col-lg-2"></div>
    </div>
    
</div>
