

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mat-elevation-z8">
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" matSort>
    
            <!-- Position Column -->
            <ng-container matColumnDef="userId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
            </ng-container>
      
            <!-- Name Column -->
            <ng-container matColumnDef="problem_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Problem Type </th>
              <td mat-cell *matCellDef="let element"> {{element.problem_name}} </td>
            </ng-container>
      
            <!-- Description Column -->
            <ng-container matColumnDef="problem_description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Problem Description </th>
              <td mat-cell *matCellDef="let element"> {{element.problem_description}} </td>
            </ng-container>
      
            <!-- PC Model Column -->
            <ng-container matColumnDef="computer_model">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PC Model </th>
              <td mat-cell *matCellDef="let element"> {{element.computer_model}} </td>
            </ng-container>
      
            <!-- Date Column -->
            <ng-container matColumnDef="problem_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.problem_date | date: 'yyyy-MM-dd'}} </td>
            </ng-container>
      
            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let element"><button 
                 
                class="btn" 
                [ngClass]="{
                  'btn-warning': element.status === 'Requested',
                  'btn-success': element.status === 'On Process',
                  'btn-primary': element.status === 'Completed'
                }">
                {{ element.status }}
              </button></td>
            </ng-container>
      
            <!-- Comments Column -->
            <ng-container matColumnDef="tech_comment">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Comments </th>
              <td mat-cell *matCellDef="let element"> {{element.tech_comment}} </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
        
      </div>
    </div>
  </div>
  
</div>